<!--This is the page that displays past game records-->
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Jotto-Game Logs</title>
    <link href="../static/css/style.css" rel="stylesheet" type="text/css" media="all" />
</head>
<body>
    <div class="padding-all">
        <div class="header">
            <h1>Past Game Logs</h1>
        </div>
        <div class="design-w3l" id="wide">
            <div class="mail-form-agile">
                <table class="center">
                    <tr>
                        <td text="GameID" ></td>
                        <td text="Date Started" ></td>
                        <td text="See Details" ></td>
                    </tr>
                    <th:block th:each="game: ${post.games}">
                        <tr>
                            <td th:text="${game.gameID}" ></td>
                            <td th:text="${game.DateStarted}" ></td>
                            <td>
                                <form action="#" th:action="@{/ViewDetails}" method="get" class="padding">
                                    <input type="hidden" name="gameid" th:value="${game.gameID}" >
                                    <input type="submit" value="View" class="padding">
                                </form>
                            </td>
                        </tr>
                    </th:block>
                </table>
                <a href = "index.html">
                    <input type="submit" value="Back to main menu">
                </a>
            </div>
        </div>
    </div>
</body>
</html>