<!--This is the page that displays past game records-->
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Jotto-Game Logs</title>
    <link href="css/style.css" rel="stylesheet" type="text/css" media="all" />
</head>
<body>
    <div class="header">
        <h1>Past Game Logs</h1>
    </div>
    <div class="design-w3l">
        <div class="mail-form-agile">
            <ul>
                <li><p>Game [gameID]: [Player name] [Date played]</p></li><!--example; TODO: delete-->
                <li th:each="game: ${post.games}" th:text="${game.gameID}">
                    <!--TODO: make it like the example + hyperlink??(+with game data?)-->
                </li>
            </ul>
            <a href = "index.html">
                <input type="submit" value="Back to main menu">
            </a>
        </div>
    </div>
</body>
</html>