<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Jotto</title>
    <link href="css/style.css" rel="stylesheet" type="text/css" media="all" />
</head>
<body>
	<div class="padding-all">
        <div class="header">
            <h1>JOTTO</h1>
        </div>
        <div class="design-w3l">
            <div class="mail-form-agile">
                <h2 th:text="${post.username}" class="padding">, Welcome! </h2>
                <form action="#" th:action="@{/game}" method="get">
                    <input type="hidden" name="username" th:value="${post.username}" />
                    <input type="submit" value="Start New Game" />
                </form>
                <form action="#" th:action="@{/GameLog}" th:object="${post}" method="post" class="padding">
                    <input type="hidden" value=${post.games} th:field="*{games}" />
                    <input type="submit" value="View Records" class="padding"/>
                </form>
            </div>
        </div>
    </div>
</body>
</html>