<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Jotto</title>
    <link href="css/style.css" rel="stylesheet" type="text/css" media="all" />
</head>
<body>
    <div class="padding-all">
        <div class="header">
            <h1>JOTTO</h1>
        </div>
        <div class="design-w3l">
            <div class="mail-form-agile">
                <h2>To begin, input a 5-letter word.</h2>
                <!--/*@thymesVar id="userInfo" type=""*/-->
                <form action="#" th:action="@{/jottogame}" th:object="${Guestword}" method="post">
                    <input type="text" th:field="*{guessword}" class="padding"  placeholder = "Guess a 5-letter word..." maxlength="5"/>
                    <input type="hidden" th:value="${Guestword.username}" th:field="*{username}" />
                    <input type="submit" value="enter"/>
                </form>                
                <a href = "index.html">
                    <input type="submit" value="main menu">
                </a>
            </div>
        </div>
    </div>
</body>
</html>