<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Jotto</title>
    <link href="css/style.css" rel="stylesheet" type="text/css" media="all" />
    <link href="../static/css/style.css" rel="stylesheet" type="text/css" media="all" />
</head>
<body onload="loadColor()">
    <div class="padding-all">
        <div class="header">
            <h1>JOTTO</h1>
        </div>
        <div class="design-w3l">
            <div class="mail-form-agile">
                <div>
                    <form action="#" th:action="@{/Gottogame}" th:object="${Guestword}" method="post">
                        <input type="text" th:field="*{guessword}" placeholder = "Guess a 5-letter word..." maxlength="5" class="padding"/>
                        <input type="hidden" th:field="*{username}" />
                        <input type="hidden" th:field="*{gameID}" />
                        <input type="hidden" th:field="*{turnNum}" />
                        <input type="submit" value="enter"/>
                        <br>
                        <!--<div class="letterlist" id="letlist" onload="function (){
                            var $letter = $("span.let");
                            $letter.addClass(localStorage.getItem($letter.id));
                        }
                        ">
                            <span class="let">a</span>
                            <span class="let">b</span>
                            <span class="let">c</span>
                            <span class="let">d</span>
                            <span class="let">e</span>
                            <span class="let">f</span>
                            <span class="let">g</span>
                            <span class="let">h</span>
                            <span class="let">i</span>
                            <span class="let">j</span>
                            <span class="let">k</span>
                            <span class="let">l</span>
                            <span class="let">m</span>
                            <span class="let">n</span>
                            <span class="let">o</span>
                            <span class="let">p</span>
                            <span class="let">q</span>
                            <span class="let">r</span>
                            <span class="let">s</span>
                            <span class="let">t</span>
                            <span class="let">u</span>
                            <span class="let">v</span>
                            <span class="let">w</span>
                            <span class="let">x</span>
                            <span class="let">y</span>
                            <span class="let">z</span>
                            <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.0.0/jquery.min.js"></script>
                            <script type="text/javascript">
                                function changeColor($elm, classes){
                                    var className = $elm.attr('class');
                                    var index = $.inArray(className, classes);

                                    $elm.removeClass(className);
                                    index++;
                                    if (index===classes.length){
                                        index=0;
                                    }
                                    $elm.addClass(classes[index]);
                                    localStorage.setItem($elm.id, $elm.className);
                                }
                                $(function () {
                                    var $letter = $("span.let");
                                    var classes=["let", "green", "red"];
                                    $letter.on("click", function () {
                                        changeColor($(this), classes);
                                    })
                                });
                            </script>
                        </div>-->
                        <div class="letterlist" id="letlist" >
                        <span id="L1">a</span>
                        <span id="L2">b</span>
                        <span id="L3">c</span>
                        <span id="L4">d</span>
                        <span id="L5">e</span>
                        <span id="L6">f</span>
                        <span id="L7">g</span>
                        <span id="L8">h</span>
                        <span id="L9">i</span>
                        <span id="L10">j</span>
                        <span id="L11">k</span>
                        <span id="L12">l</span>
                        <span id="L13">m</span>
                        <span id="L14">n</span>
                        <span id="L15">o</span>
                        <span id="L16">p</span>
                        <span id="L17">q</span>
                        <span id="L18">r</span>
                        <span id="L19">s</span>
                        <span id="L20">t</span>
                        <span id="L21">u</span>
                        <span id="L22">v</span>
                        <span id="L23">w</span>
                        <span id="L24">x</span>
                        <span id="L25">y</span>
                        <span id="L26">z</span>
                        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.0.0/jquery.min.js"></script>
                        <script type="text/javascript">
                            function changeColor($elm, classes){
                                var className = $elm.attr('class');
                                var index = $.inArray(className, classes);

                                $elm.removeClass(className);
                                index++;
                                if (index===classes.length){
                                    index=0;
                                }
                                $elm.addClass(classes[index]);
                                localStorage.setItem($elm.attr('id'),classes[index]);
                            }
                            function loadColor(){
                                var i;
                                for (i=1; i<27; i++) {
                                    var elem = $(document.getElementById('L'+i));
                                    var localStore = localStorage.getItem(elem.attr('id'));
                                    //window.alert(i+"before"+elem.attr('class'));
                                    //$(elem).removeClass(elem.attr('class'));
                                    $(elem).addClass(localStore);
                                    if(localStore == null){
                                        $(elem).addClass('white');
                                    }
                                    //window.alert(i+" after "+ localStore);
                                }
                            }

                            $(function () {
                                var classes=["white", "green", "red"];
                                var i;
                                for (i=1; i<27; i++){
                                    var $letter = $(document.getElementById('L'+i));
                                    $letter.on("click", function () {
                                        changeColor($(this), classes);
                                    })
                                }

                            });
                        </script>
                </div>
                        <p>Your word:</p>
                        <p th:text="${userword}" class="bold2"></p>
                        <div class="listContainer">
                            <ul>
                                <li>Your Guess</li>
                                <li th:each="word:${userguessword}" class="bold">
                                    <span th:text="${word}"></span>
                                </li>
                            </ul>
                            <ul>
                                <li>Correct letters</li>
                                <li th:each="nu: ${numberuser}" class="bold">
                                    <span th:text="${nu}"></span>
                                </li>
                            </ul>
                            <ul>
                                <li>Computer's guess</li>
                                <li th:each="cword:${compguessword}" class="bold">
                                    <span th:text="${cword.get(0)}" th:classappend="${userword.contains(cword.get(0))} ? green : red"></span>
                                    <span th:text="${cword.get(1)}" th:classappend="${userword.contains(cword.get(1))} ? green : red"></span>
                                    <span th:text="${cword.get(2)}" th:classappend="${userword.contains(cword.get(2))} ? green : red"></span>
                                    <span th:text="${cword.get(3)}" th:classappend="${userword.contains(cword.get(3))} ? green : red"></span>
                                    <span th:text="${cword.get(4)}" th:classappend="${userword.contains(cword.get(4))} ? green : red"></span>
                                </li>
                            </ul>
                            <ul>
                                <li>Correct letters</li>
                                <li th:each="nc: ${numbercomp}" class="bold">
                                    <span th:text="${nc}"></span>
                                </li>
                            </ul>
                        </div>
                        <!--<table class="left">
                            <tr>
                                <th><p>Your guess</p></th>
                                <th><p>Correct letters</p></th>
                            </tr>
                            <tr th:each="word : ${userguessword}" class="bold">
                                <th><p th:text="${userguessword}"></p></th> <!--TODO: MUST BE LISTS!!-->
                                <!--
                                <span th:text="${word.get(0)} th:classappend="${userguessword[0].isCorrect} ? green : red">
                                <span th:text="${userguessword[1]} th:classappend="${userguessword[1].isCorrect} ? green : red">
                                <span th:text="${userguessword[2]} th:classappend="${userguessword[2].isCorrect} ? green : red">
                                <span th:text="${userguessword[3]} th:classappend="${userguessword[3].isCorrect} ? green : red">
                                <span th:text="${userguessword[4]} th:classappend="${userguessword[4].isCorrect} ? green : red">

                                <th><p th:text="${numberuser}"></p></th>
                            </tr>
                        </table>
                        <table class="right">
                            <tr>
                                <th><p>Computer's guess</p></th>
                                <th><p>Correct letters</p></th>
                            </tr>
                            <tr class="bold">
                                <th><p th:text="${compguessword}"></p></th>
                                <th><p th:text="${numbercomp}"></p></th>
                            </tr>
                        </table>-->
                        <!--
                        the word you type:  <p th:text="${userword}"></p>
                        the word you  guess:<p th:text="${userguessword}"></p>
                        the number of letter you guess right:<p th:text="${numberuser}"></p>
                        the word computer guess <p th:text="${compguessword}"></p>
                        the number of letter computer guess right:<p th:text="${numbercomp}"></p>
                        -->
                    </form>
                </div>
            </div>
        </div>
    </div>
</body>
</html>