<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Jotto</title>
    <link href="../static/css/style.css" rel="stylesheet" type="text/css" media="all" />
</head>
<body>
    <div class="padding-all">
        <div class="header">
            <h1>JOTTO</h1>
        </div>
        <div class="design-w3l">
            <div class="mail-form-agile">
                <p>Guest guess words</p>
                <!--/*@thymesVar id="userInfo" type=""*/-->
                <form action="#" th:action="@{/jottogame}" th:object="${Guestword}" method="post">
                  Use input word:  <input type="text" th:field="*{guessword}" />
                    <input type="submit" value="submit"/>
                </form>
            </div>
        </div>
    </div>
</body>
</html>