<!--This is the page that displays past game records-->
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Jotto-Game Logs</title>
    <link href="css/style.css" rel="stylesheet" type="text/css" media="all" />
</head>
<body>
    <div class="padding-all">
        <div class="header">
            <h1>Past Game Logs</h1>
        </div>
        <div class="design-w3l" id="wide">
            <div class="mail-form-agile">
                <table class="center padding">
                    <tr>
                        <th><p>Your guessed words</p></th>
                        <th><p>Correct letters</p></th>
                        <th><p>Computer's guessed words</p></th>
                        <th><p>Correct letters</p></th>
                    </tr>
                    <th:block th:each="turn : ${details}">
                        <tr>
                            <td th:text="${turn.PlayerGuess}"></td>
                            <td th:text="${turn.PlayerLettersCorrect}" ></td>
                            <td th:text="${turn.ComputerGuess}" ></td>
                            <td th:text="${turn.ComputerLettersCorrect}" ></td>
                        </tr>
                    </th:block>
                </table>
                <a href = "GameLog.html">
                    <input type="submit" value="Back">
                </a>
                <a href = "index.html">
                    <input type="submit" value="main menu">
                </a>
            </div>
        </div>
    </div>
</body>
</html>